root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[{*.gant, *.gradle, *.groovy, *.gy}]
indent_style = space

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .stylelintrc, bowerrc, jest.config}]
indent_size = 2
indent_style = space

[{*.markdown, *.md, *.mkd}]
indent_style = space
max_line_length = 72

[{*.yaml, *.yml}]
indent_size = 2
